.main-sidebar {
  flex-shrink: 0;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.open-upload-form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
}

.open-upload-form-button:hover {
  background-color: #8a2be2;
}

.uploaded-files {
  flex: 1;
  overflow-y: auto;
}

.uploaded-files-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.file-info {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.file-title {
  font-size: 0.875rem;
  word-break: break-word;
  list-style: none;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-status {
  font-size: 0.6rem;
  border-radius: 1.25rem;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  padding: 0.5rem 0.5rem;
  width: fit-content;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.processing {
  background-color: #faebbc;
}

.failed {
  background-color: #ff6e7c;
}